In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge

In [4]:
data=pd.read_csv('RealEstateData.csv')
data

,Crime.Rate.in.the.Area,Ratio.of.Commercial...Residential.Properties,Number.of.Rooms,Age.of.Property,Distance...Nearest.Emp.hub,Ratio.of.Lower.Income.people.in.area,Sale.Price.of.House
0,0.00632,2.31,4.0,65.0,4.0900,4.98,24.000000
1,0.02731,7.07,4.0,78.0,4.9671,9.14,21.600000
2,0.02729,7.07,5.0,61.0,4.9671,4.03,34.700001
3,0.03237,2.18,4.0,45.0,6.0622,2.94,33.400002
4,0.06905,2.18,5.0,54.0,6.0622,5.33,36.200001
...,...,...,...,...,...,...,...
495,0.06263,11.93,4.0,69.0,2.4786,9.67,22.400000
496,0.04527,11.93,4.0,76.0,2.2875,9.08,20.600000
497,0.06076,11.93,4.0,91.0,2.1675,5.64,23.900000
498,0.10959,11.93,4.0,89.0,2.3889,6.48,22.000000
499,0.04741,11.93,4.0,80.0,2.5050,7.88,11.900000

In [5]:
data.head()

,Crime.Rate.in.the.Area,Ratio.of.Commercial...Residential.Properties,Number.of.Rooms,Age.of.Property,Distance...Nearest.Emp.hub,Ratio.of.Lower.Income.people.in.area,Sale.Price.of.House
0,0.00632,2.31,4.0,65.0,4.0900,4.98,24.000000
1,0.02731,7.07,4.0,78.0,4.9671,9.14,21.600000
2,0.02729,7.07,5.0,61.0,4.9671,4.03,34.700001
3,0.03237,2.18,4.0,45.0,6.0622,2.94,33.400002
4,0.06905,2.18,5.0,54.0,6.0622,5.33,36.200001

In [6]:
data.tail()

,Crime.Rate.in.the.Area,Ratio.of.Commercial...Residential.Properties,Number.of.Rooms,Age.of.Property,Distance...Nearest.Emp.hub,Ratio.of.Lower.Income.people.in.area,Sale.Price.of.House
495,0.06263,11.93,4.0,69.0,2.4786,9.67,22.4
496,0.04527,11.93,4.0,76.0,2.2875,9.08,20.6
497,0.06076,11.93,4.0,91.0,2.1675,5.64,23.9
498,0.10959,11.93,4.0,89.0,2.3889,6.48,22.0
499,0.04741,11.93,4.0,80.0,2.5050,7.88,11.9

In [7]:
data.isna().sum()

Crime.Rate.in.the.Area                          7
Ratio.of.Commercial...Residential.Properties    4
Number.of.Rooms                                 4
Age.of.Property                                 3
Distance...Nearest.Emp.hub                      4
Ratio.of.Lower.Income.people.in.area            6
Sale.Price.of.House                             0
dtype: int64

In [8]:
data=data.fillna(method='bfill')
data.isna().sum()

Crime.Rate.in.the.Area                          0
Ratio.of.Commercial...Residential.Properties    0
Number.of.Rooms                                 0
Age.of.Property                                 0
Distance...Nearest.Emp.hub                      0
Ratio.of.Lower.Income.people.in.area            0
Sale.Price.of.House                             0
dtype: int64

In [10]:
x=data.drop('Sale.Price.of.House',axis=1)
y=data['Sale.Price.of.House']

In [11]:
x

,Crime.Rate.in.the.Area,Ratio.of.Commercial...Residential.Properties,Number.of.Rooms,Age.of.Property,Distance...Nearest.Emp.hub,Ratio.of.Lower.Income.people.in.area
0,0.00632,2.31,4.0,65.0,4.0900,4.98
1,0.02731,7.07,4.0,78.0,4.9671,9.14
2,0.02729,7.07,5.0,61.0,4.9671,4.03
3,0.03237,2.18,4.0,45.0,6.0622,2.94
4,0.06905,2.18,5.0,54.0,6.0622,5.33
...,...,...,...,...,...,...
495,0.06263,11.93,4.0,69.0,2.4786,9.67
496,0.04527,11.93,4.0,76.0,2.2875,9.08
497,0.06076,11.93,4.0,91.0,2.1675,5.64
498,0.10959,11.93,4.0,89.0,2.3889,6.48
499,0.04741,11.93,4.0,80.0,2.5050,7.88

In [12]:
y

0      24.000000
1      21.600000
2      34.700001
3      33.400002
4      36.200001
         ...
495    22.400000
496    20.600000
497    23.900000
498    22.000000
499    11.900000
Name: Sale.Price.of.House, Length: 500, dtype: float64

In [13]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.25,random_state=2)

In [18]:
base_reg=LinearRegression()
print("***************Base Regression*********")
print()
print("Training Started....\n")
base_reg.fit(xtrain,ytrain)
print()
base_pred=base_reg.predict(xtest)
from sklearn.metrics import r2_score
print("Base Train_score:\t",base_reg.score(xtrain,ytrain))
print()
print("Base Test Score:\t",base_reg.score(xtest,ytest))
print()
print("R-square:\t",r2_score(ytest,base_pred))
print()

***************Base Regression*********

Training Started....


Base Train_score:	 0.6423193684371046

Base Test Score:	 0.6534361853880783

R-square:	 0.6534361853880783

In [22]:
print("************* Ridge Regression Model*************")
print()
rr=Ridge(alpha=0.01)
rr.fit(xtrain,ytrain)
rr_pred=rr.predict(xtest)
print("Ridge Train_score:\t", rr.score(xtrain,ytrain))
print()
print("Ridge Test_score:\t", rr.score(xtest,ytest))
print()
print("Ridge R-Square:\t",r2_score(ytest,rr_pred))

************* Ridge Regression Model*************

Ridge Train_score:	 0.6423193682338959

Ridge Test_score:	 0.6534367823976175

Ridge R-Square:	 0.6534367823976175

In [24]:
print("*************Lasso Regression Model*************")
print()
lr=Lasso(alpha=0.01)
lr.fit(xtrain,ytrain)
lr_pred=lr.predict(xtest)
print("Lasso Train_score:\t", lr.score(xtrain,ytrain))
print()
print("Lasso Test_score:\t", lr.score(xtest,ytest))
print()
print("Lasso R-Square:\t",r2_score(ytest,lr_pred))

*************Lasso Regression Model*************

Lasso Train_score:	 0.6423164972982738

Lasso Test_score:	 0.653492258383704

Lasso R-Square:	 0.653492258383704